body {
  font-family: Roboto, Arial, sans-serif;
  display: flexbox;
  background: rgb(249, 249, 249);
  margin: 0px;
}
.navbar-container {
  font-family: Roboto, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.959);
  height: 60px;
  float: none;
  padding: 0px;
}
.left-navbar-items {
  position: fixed;
  left: 10px;
}
.left-navbar-items ul li {
  display: inline-block;
  color: #666;
  padding: 6px;
}
.right-navbar-items {
  position: fixed;
  right: 10px;
}
.right-navbar-items ul li {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  color: #666;
}
.navbar-left {
  float: left;
  padding: 0px;
}
.search-container {
  width: 850px;
  position: absolute;
  height: 60px;
  text-align: center;
}
.search-container ul li {
  display: inline-block;
}
.search-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px;
  width: 540px;
  border: none;
}
.form {
  width: 600px;
  border: 1px solid rgb(158, 157, 157);
  border-right: none;
  position: relative;
  left: 100px;
  height: 28px;
}
.search-button {
  background-color: rgb(249, 249, 249);
  border: none;
  color: #666;
  height: 29px;
  width: 60px;
  padding: 0px;
  float: right;
  border-bottom: 1px solid rgb(158, 157, 157);
  border-right: 1px solid rgb(158, 157, 157);
}
#search-icon {
  font-size: 12px;
  background: transparent;
  color: rgb(148, 147, 147);
}
.search-form {
  width: 100%;
}
.logo {
  width: 100px;
  height: 35px;
}
#icons {
  font-size: 20px;
  padding: 0px;
  border: none;
  color: #666;
}
#stat-icons {
  font-size: 24px;
  padding-right: 5px;
  border: none;
  color: #666;
}
.main-container {
  padding: 0px;
}
.main-container ul li {
  display: inline-block;
}
.main-container-elements {
  font-family: Roboto, Arial, sans-serif;
  float: left;
}
.hashtag {
  color: rgb(31, 110, 175);
  margin-top: 20px;
}
.current-element {
  position: fixed;
  left: 10px;
  width: 66%;
}
.current-video {
  width: 100%;
  height: 440px;
  position: static;
  text-align: left;
}
.next-element {
  position: fixed;
  right: 10px;
  text-align: center;
  width: 390px;
  height: 100%;
}
.next-videos {
  width: inherit;
}
.next-video {
  display: flex;
  align-items: center;
  text-align: left;
}
.next-video ul li {
  display: inline-block;
  text-align: center;
  height: 110px;
}
.video-name {
  float: left;
  width: 100%;
}
.video-stats {
  position: relative;
  left: 400px;
}
#main-iframe {
  width: 100%;
  height: 100%;
  padding: 3px;
}

.video-stats ul li {
  display: inline-block;
  padding: 10px;
  color: #666;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.video-description {
  width: 100%;
}
.show-more {
  width: 300px;
  position: relative;
  margin: auto;
  right: 10px;
}
.btn-show-more {
  width: 100%;
  background: transparent;
  color: rgb(158, 155, 155);
  font-size: 11px;
  padding: 3px;
  font-weight: bold;
  border: 1px solid rgb(158, 155, 155);
  height: 25px;
  position: -webkit-sticky;
  margin: auto;
}
.btn-stat-icons {
  background: transparent;
  border: none;
  padding: 3px;
  color: #666;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  position: -webkit-sticky;
}
.btn-stat-icons:hover {
  border-bottom: 2px solid #666;
  cursor: pointer;
}
.up-next {
  font-family: Roboto, Arial, sans-serif;
  color: #666;
  font-size: 17px;
  position: -webkit-sticky;
  right: 10px;
  height: 60px;
}
#toggle-on {
  font-size: 20px;
}
.video {
  position: fixed;
  right: 240px;
  width: 168px;
  height: 94px;
}
#video {
  width: 100%;
  height: 100%;
}
.next-video-text {
  position: fixed;
  right: 55px;
  width: 163px;
  height: 100%;
  text-align: left;
  font-family: Roboto, Arial, sans-serif;
}
